@import '../global-vars-classes'

.main
    width: 80%
    max-width: 800px
    margin: 0 auto
    font-size: 3rem
    display: flex
    flex-direction: column
    align-items: center

.button
    background-color: $secondary-bg-blue    
    border: 1px solid $secondary-bg-blue 
    color: $primary-text-white
    &:hover
        cursor: pointer
        background-color: $secondary-bg-blue-600
        border: 1px solid $secondary-bg-blue-600
    &:active
        background-color: $secondary-bg-blue-700
        border: 1px solid $secondary-bg-blue-700
    
.textInput
    background-color: $primary-bg-black
    border: 1px solid $primary-bg-black-100
    color: $primary-text-white

.headerText
    font-size: 3rem
    text-align: center


// Train Section
.trainSection
    margin: 5rem 5rem
    display: flex
    flex-direction: column
    gap: 2rem

.currVocabListHighlight
    color: $secondary-text-yellow

.currVocabDisplay
    text-align: center
    font-size: 4rem
    color: $secondary-text-yellow
    margin: 3rem 0rem 0rem 0rem

.inputText
    @extend .textInput
    text-align: center
    font-size: 3rem
.correct
    color: #00FF00
.wrong
    color: #FF0000
.default
    color: $primary-text-white

.buttonWrap
    display: flex
    justify-content: center
    gap: 2rem

.btnTrain
    @extend .button
    font-size: 2rem
    padding: 1rem
    border-radius: 0.5rem



// VocabLists Section
.vocabListsSection
    margin: 5rem 5rem
    display: flex
    flex-direction: column
    align-items: center

.nameInputWrap
    display: flex
    margin: 2rem 0rem 0rem 0rem

.nameInput
    @extend .textInput
    font-size: 3rem

.btnCreate
    @extend .button
    padding: 0rem 1rem
    font-size: 2rem

.vocabListsDisplay
    margin: 2rem 0rem
    border: 2px solid $primary-bg-black-300
    display: flex
    flex-direction: column
    width: 100%
    padding: 1rem
    gap: 1rem

.vocabListsElement
    display: flex
    justify-content: space-between
    align-items: center

.vocabListsEditButtonWrap
    display: flex
    gap: 1rem

.vocabListsEditButton
    @extend .button
    font-size: 2rem
    padding: 0.5rem

.vocabListsName
    font-size: 2rem



// Vocabs Section
.vocabsSection
    margin: 3rem 0rem
    display: flex
    flex-direction: column
    align-items: center

.vocabInputWrap
    margin: 2rem 0rem 0rem 0rem
    display: flex
    flex-direction: row
    @media (max-width: 1000px)
        flex-direction: column
        width: 48rem

.vocabInput
    @extend .textInput
    font-size: 3rem

.btnAdd
    @extend .button
    padding: 0rem 1rem
    font-size: 2rem
    
.vocabsExpandable
    border: 1px solid $primary-bg-black-100
    margin: 1rem 0rem 0rem 0rem
    width: 100%

.vocabsSummary
    font-size: 3rem

.vocabsDisplay
    display: flex
    flex-direction: column
    padding: 1rem
    gap: 1rem
    border-top: 1px solid $primary-bg-black-100

.vocabElement
    display: grid
    grid-template-columns: 3fr 3fr 1fr
    align-items: center

.vocabText
    font-size: 2rem
    overflow: auto